Repository ISPC-TSDW/libroteka-mobile, pull requests merged in 2024-10, with the labels that each got.

#59 Add user request and user response
  app/src/main/java/com/example/libroteka/data/UserRequest.java
  app/src/main/java/com/example/libroteka/data/UserResponse.java
Labels: BackEnd, TASK, App

#60 Clases
  app/src/main/java/com/example/libroteka/data/UserRequest.java
  app/src/main/java/com/example/libroteka/data/UserResponse.java
Labels: BackEnd, TASK, App

#61 Se agregaron cambios en el readme para levantar el back
  README.md
Labels: documentation, TASK

#68 Jps backend conexion usuarios
  Backend/books/migrations/__pycache__/0001_initial.cpython-311.pyc
  Backend/books/migrations/__pycache__/0002_user_editorial_genre_orderstatus_and_more.cpython-311.pyc
  Backend/books/migrations/__pycache__/0003_alter_user_first_name_alter_user_last_name_and_more.cpython-311.pyc
  Backend/books/migrations/__pycache__/0004_alter_order_books.cpython-311.pyc
  Backend/books/migrations/__pycache__/0005_remove_order_id_user_delete_user.cpython-311.pyc
  Backend/books/migrations/__pycache__/0006_user.cpython-311.pyc
  Backend/books/migrations/__pycache__/0007_remove_genre_genre_genre_name_order_user_and_more.cpython-311.pyc
  Backend/books/migrations/__pycache__/0007_role.cpython-311.pyc
  Backend/books/migrations/__pycache__/0008_merge_20240602_0512.cpython-311.pyc
  Backend/books/migrations/__pycache__/0009_merge_20240602_0513.cpython-311.pyc
  Backend/books/migrations/__pycache__/0010_remove_user_address_remove_user_city_and_more.cpython-311.pyc
  Backend/books/migrations/__pycache__/0011_userslibroteka.cpython-311.pyc
  Backend/books/migrations/__pycache__/0012_userslibroteka_password.cpython-311.pyc
  Backend/books/migrations/__pycache__/0013_remove_order_user_order_id_user.cpython-311.pyc
  Backend/books/migrations/__pycache__/0014_alter_order_books.cpython-311.pyc
  app/build.gradle.kts
  app/src/main/java/com/example/libroteka/data/ApiManager.java
  app/src/main/java/com/example/libroteka/data/LoginRequest.java
  app/src/main/java/com/example/libroteka/data/UserResponse.java
  app/src/main/java/com/example/libroteka/retrofit/ApiInterface.java
  app/src/main/java/com/example/libroteka/retrofit/RetrofitClient.java
  gradle/libs.versions.toml
  local.properties
Labels: BackEnd

#69 add models,serializer,views,urls for Favorites
  Backend/books/admin.py
  Backend/books/models.py
  Backend/books/serializer.py
  Backend/books/urls.py
  Backend/books/utils.py
  Backend/books/views.py
  README.md
Labels: BackEnd, TASK, App

#70 add database script, models,serializer,urls, views for Ratings
  Backend/books/__init__.py
  Backend/books/admin.py
  Backend/books/apps.py
  Backend/books/initial_Data.py
  Backend/books/models.py
  Backend/books/serializer.py
  Backend/books/urls.py
  Backend/books/utils.py
  Backend/books/views.py
Labels: BackEnd, TASK

#73 agrego alert
  app/src/main/java/com/example/libroteka/ContactActivity.java
  app/src/main/java/com/example/libroteka/EditProfileActivity.java
  app/src/main/java/com/example/libroteka/ProfileActivity.java
  app/src/main/res/values/styles.xml
Labels: FrontEnd

#75 Creacion de script
  Backend/books/__init__.py
  Backend/books/apps.py
  Backend/books/initial_data.py
  Backend/books/models.py
  Backend/books/serializer.py
  Backend/books/views.py
  Backend/db.sql
  Backend/initial_data.sql
Labels: BackEnd, TASK, App

#78 subo comentada la logica del jwt del front
  app/build.gradle.kts
  app/src/main/java/com/example/libroteka/Main_login2.java
Labels: FrontEnd, App

#79 modificacion de script
  Backend/books/models.py
  Backend/books/serializer.py
  Backend/db.sql
Labels: documentation

#80 Vtjwt
  app/src/main/java/com/example/libroteka/EditProfileActivity.java
Labels: FrontEnd

#83 cambios en back
  .gitignore
  Backend/Libroteka/settings.py
  Backend/Libroteka/urls.py
  Backend/books/migrations/0015_book_avg_rating_userslibroteka_is_active_and_more.py
  Backend/books/urls.py
  Backend/books/views.py
  Backend/requirements.txt
  app/src/main/java/com/example/libroteka/Catalogo.java
  app/src/main/java/com/example/libroteka/Home.java
  app/src/main/java/com/example/libroteka/Main_login2.java
  app/src/main/java/com/example/libroteka/data/ApiManager.java
  app/src/main/java/com/example/libroteka/data/UserResponse.java
  app/src/main/java/com/example/libroteka/retrofit/ApiInterface.java
  app/src/main/java/com/example/libroteka/retrofit/RetrofitClient.java
  app/src/main/res/drawable/id_10.jpeg
  app/src/main/res/drawable/id_11.jpeg
  app/src/main/res/drawable/id_12.jpg
  app/src/main/res/drawable/id_13.jpg
  app/src/main/res/drawable/id_14.jpg
  app/src/main/res/drawable/id_16.jpg
  app/src/main/res/drawable/id_17.jpg
  app/src/main/res/drawable/id_18.jpg
  app/src/main/res/drawable/id_19.jpg
  app/src/main/res/drawable/id_20.jpg
  app/src/main/res/drawable/id_21.jpg
  app/src/main/res/drawable/id_22.jpg
  app/src/main/res/drawable/id_23.jpg
  app/src/main/res/drawable/id_24.jpg
  app/src/main/res/drawable/id_25.jpeg
  app/src/main/res/drawable/id_26.jpg
  app/src/main/res/drawable/id_27.jpg
  app/src/main/res/drawable/id_28.jpg
  app/src/main/res/drawable/id_29.jpg
  app/src/main/res/drawable/id_3.jpg
  app/src/main/res/drawable/id_4.jpg
  app/src/main/res/drawable/id_6.png
  app/src/main/res/drawable/id_7.jpeg
  app/src/main/res/layout/activity_producto_el_instituto.xml
  app/src/main/res/layout/activity_producto_fauno.xml
  app/src/main/res/layout/activity_producto_jack_destripador.xml
  app/src/main/res/layout/item_libro.xml
Labels: FrontEnd, BackEnd, TASK, CiberSeguridad, Seguridad, App

#88 arreglo y emparejamiento de algunos elementos front
  app/src/main/java/com/example/libroteka/Catalogo.java
  app/src/main/java/com/example/libroteka/Home.java
  app/src/main/res/drawable/accion.png
  app/src/main/res/drawable/aventura.png
  app/src/main/res/drawable/fantasia.png
  app/src/main/res/drawable/filtrar1.png
  app/src/main/res/drawable/formtext.xml
  app/src/main/res/drawable/libromain.png
  app/src/main/res/drawable/libromain3.png
  app/src/main/res/layout/activity_catalogo.xml
  app/src/main/res/layout/activity_edit_profile.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_main_login2.xml
  app/src/main/res/layout/activity_profile.xml
  app/src/main/res/layout/activity_register.xml
  app/src/main/res/layout/contact_activity.xml
  app/src/main/res/layout/dialog_filtro_categorias.xml
  app/src/main/res/layout/item_libro.xml
  app/src/main/res/values-land/dimens.xml
  app/src/main/res/values-w1240dp/dimens.xml
  app/src/main/res/values-w600dp/dimens.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/styles.xml
Labels: FrontEnd, App
